html,
body {
  height: 100%;
  margin: 0;
  text-size-adjust: none;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  overflow-x: scroll;
}

main {
  max-width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 1.5em;
}

.plantbed {
  width: 0;
  position: relative;
}

.item {
  display: block;
  position: absolute;
  padding: 0em 1em;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

.item * {
  width: max-content;
}

.item img,
.item video,
.item audio {
  max-width: 18em;
  height: auto;
}

.item audio {
  height: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
  color: gray;
  /* edit me! */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
pre,
code {
  margin: 0;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}

a {
  color: #0000EE;
  /* edit me! */
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6,
.md p,
.md pre {
  margin-top: 1em;
}

.md * {
  max-width: 50ch;
}
